@import "tailwindcss";

@layer base {
  button, [role="button"] {
    cursor: pointer;
  }
  body {
    color: var(--color-custom-gray-900);
    background-color: var(--color-custom-white);
  } 
  html {
    scrollbar-gutter: stable;
  }  
}

/* Define custom colors */
@theme {
  --color-custom-white: #FFFFFF;
  --color-custom-gray-200: #DDDDDD;
  --color-custom-gray-300: #C4C4C4;
  --color-custom-gray-900: #434343;
  --color-custom-black: #000000;
}

